	dl {
		width: 1000px;
		margin: 0px auto;
		margin-bottom: 100px;
	}
dt {
    line-height: 35px;
    height: 35px;
    color: white;
    background: #4c826b;
}
        dt.header {
			text-align: center;
            font-size: large;
            text-indent: 3em;
        }
	dd {
		margin: 0;
		background: #faf4da;
		color: #4c826b;
	}
	dd p {
		margin: 0;
		text-indent: 1em;
		padding: 20px;
		overflow-wrap : break-word;
	}
